body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    text-decoration: none;

}

.card {
    border-radius: 10px;
    border: none;
}

h2 {
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #FE5000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-primary {
    background-color: #868686;
    border-color: #868686;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #8a9096;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ddd;
}
.error-message{
    color: red;
    font-size: 0.75rem;
    display: none;
}
.btn-signup {
    background-color: #ff9000;
    color: white; /* Adjust this to your preferred text color */
    border: none; /* Remove border if desired */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .btn-signup:hover {
    background-color: #e07e00; /* Slightly darker shade for hover effect */
  }
  