<%-include("../../views/partials/user/header")%>
<!-- main -->

<div class="header">
    
</div>
<div class="container">
    <div class="category">
        <h1>TOPWEAR</h1>
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <img src="/images/polotshit.webp" alt="Polo T-Shirts">
                <p>Polo T-Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/plain tshirt.webp" alt="Plain T-Shirts">
                <p>Plain T-Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/formal.webp" alt="Formal Shirts">
                <p>Formal Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/full sleve.webp" alt="Full Sleeve T-Shirts">
                <p>Full Sleeve T-Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/casual.webp" alt="Casual Shirts">
                <p>Casual Shirts</p>
            </div>
        </div>
    </div>
    <div class="category">
        <h1>BOTTOMWEAR</h1>
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <img src="/images/Cargo Joggers.webp" alt="Cargo Joggers">
                <p>Cargo Joggers</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/Cargo Pants.webp" alt="Cargo Pants">
                <p>Cargo Pants</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/Jeans.webp" alt="Jeans">
                <p>Jeans</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/Chino Pants.webp" alt="Chino Pants">
                <p>Chino Pants</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="/images/Boxers.webp" alt="Boxers">
                <p>Boxers</p>
            </div>
        </div>
    </div>
    <div class="shop-looks">
        <h1>SHOP EVERY DAY LOOKS</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img src="casual-look.jpg" alt="Casual Look">
                <p>Casual</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="party-look.jpg" alt="Party Look">
                <p>Party</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="office-look.jpg" alt="Office Look">
                <p>Office</p>
            </div>
        </div>
    </div>
</div>
<%-include("../../views/partials/user/footer")%>