<%-include("../../views/partials/user/header")%>
<!-- main -->

<div class="header">
    <h1>WINTER COLLECTION 2024</h1>
    <p>UP TO 60% OFF</p>
    <p>FOR EXTRA 15% OFF USE CODE <span class="discount-code">GOAT15</span></p>
</div>
<div class="container">
    <div class="category">
        <h1>TOPWEAR</h1>
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <img src="polo-tshirt.jpg" alt="Polo T-Shirts">
                <p>Polo T-Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="plain-tshirt.jpg" alt="Plain T-Shirts">
                <p>Plain T-Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="formal-shirt.jpg" alt="Formal Shirts">
                <p>Formal Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="full-sleeve-tshirt.jpg" alt="Full Sleeve T-Shirts">
                <p>Full Sleeve T-Shirts</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="casual-shirt.jpg" alt="Casual Shirts">
                <p>Casual Shirts</p>
            </div>
        </div>
    </div>
    <div class="category">
        <h1>BOTTOMWEAR</h1>
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <img src="cargo-joggers.jpg" alt="Cargo Joggers">
                <p>Cargo Joggers</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="cargo-pants.jpg" alt="Cargo Pants">
                <p>Cargo Pants</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="jeans.jpg" alt="Jeans">
                <p>Jeans</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="chino-pants.jpg" alt="Chino Pants">
                <p>Chino Pants</p>
            </div>
            <div class="col-md-2 col-sm-4">
                <img src="boxers.jpg" alt="Boxers">
                <p>Boxers</p>
            </div>
        </div>
    </div>
    <div class="shop-looks">
        <h1>SHOP EVERY DAY LOOKS</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img src="casual-look.jpg" alt="Casual Look">
                <p>Casual</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="party-look.jpg" alt="Party Look">
                <p>Party</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="office-look.jpg" alt="Office Look">
                <p>Office</p>
            </div>
        </div>
    </div>
</div>
<%-include("../../views/partials/user/footer")%>