/* home */
body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  background-color: #282c34; /* Darker sidebar color */
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
}

.sidebar a {
  display: flex;
  align-items: center; /* Center icons vertically */
  padding: 15px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.sidebar a i { /* Style icons */
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #343a40;
}

.dashboard-content {
  margin-left: 270px;
  padding: 20px;
  background-color: #f0f0f0; /* Lighter content color */
  border-radius: 5px;
}

@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      margin-bottom: 20px;
  }

  .dashboard-content {
      margin-left: 0;
  }
}

