
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
    <link rel="stylesheet" href="/admin/dashboard.css">
   
</head>
<body>

    <div class="sidebar">
        <a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="#"><i class="fas fa-box-open"></i> Products</a>
        <a href="#"><i class="fas fa-list-alt"></i> Order Lists</a>
        <a href="/admin/users"><i class="fas fa-users"></i> Users</a>
        <a href="#"><i class="fas fa-tag"></i> Coupons</a>
        <a href="/admin/categories"><i class="fas fa-sitemap"></i> Category</a>
        <a href="#"><i class="fas fa-images"></i> Banners</a>
        <a href="#"><i class="fas fa-gift"></i> Offers</a>
        <hr>
        <a href="#"><i class="fas fa-cog"></i> Settings</a>
        <a href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
    </div>

    
    <!-- <div class="dashboard-content"></div> -->